body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans serif;
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    /*text-align: center;*/
}
h2.panel-title {
    font-size:1.6em;
    font-weight:300;
    color:crimson;
}
